@media (max-width:480px) //celular
{
    .logo-header img{
      width: 150px;
    }
    header .nav-menu .check__btn{
      display: block;
    }
    #check
    {
      display: block;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        letter-spacing: 10px;
        flex-direction: column;
        z-index: 9999; /*important*/
        top:80px;
        left:-100%;
        background: rgb(0, 0, 0);
        width: 100%;
        height: 100vh;
        
        right: 0;
    }
    .nav-menu ul li{
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
    .carousel-caption .carousel-titulo{
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        color:rgb(255, 255, 255);
        text-shadow: 0 2px 2px #0066ff;
        font-size: 2.5em;
        width: 550px;
      }
      .cards {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
          "cards1  cards2"
          "cards1  cards3";
        gap: 2rem;
      }
      
        .tienda .container-productos{
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2,1fr);
         text-align: center;
       }
       
 }
 @media(max-width:768px) //tablet
 {
  .logo-header img{
    width: 150px;
  }
  header .nav-menu .check__btn{
    display: block;
  }
  #check
  {
    display: block;
  }
  .nav-menu ul{
      display: block;
      position: fixed;
      letter-spacing: 10px;
      flex-direction: column;
      z-index: 9999; /*important*/
      top:80px;
      left:-100%;
      background: rgb(0, 0, 0);
      width: 100%;
      height: 100vh;
      
      right: 0;
  }
  .nav-menu ul li{
      padding: 1rem;
      display: flex;
      justify-content: center;
      margin: 0;
  }
  .nav-menu ul li:last-child{
      background: none;
      padding: 1rem;
  }
  #check:checked ~ ul{
      left: 0;
      transition: all .25s;
  }
  .carousel-caption .carousel-titulo{
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      color:rgb(255, 255, 255);
      text-shadow: 0 2px 2px #0066ff;
      font-size: 2.5em;
      width: 385px;
    }
    .cards {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "cards1  cards2"
        "cards1  cards3";
      gap: 2rem;
    }
    .tienda .container-productos{
      grid-template-columns: (2,1fr);
      grid-template-rows: repeat(2,1fr);
      text-align: center;
   }
   .redes .icon-list {
		width: 100%;
		max-width: 100rem;
		padding: 0 7.5rem;
		display: flex;
		justify-content: space-between;
	  }
 }